<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        New Task
      </div>
      <div class="panel-body">
        <%= render "new_form.html", changeset: @changeset, action: task_path(@conn, :create) %>
      </div>
    </div>
  </div>
</div>




<span><%= link "Back", to: task_path(@conn, :index) %></span>
